@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.backgroundIMG {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 50%;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #39add421;
}

.container {
    position: relative;
    width: 1396px;
    max-width: 100%;
    height: calc(100vh - 40px);
    background: #fff;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.06), 0 2px 5px rgba(0, 0, 0, 0.06);
    border-radius: 10px;
    display: flex;
}

.container .leftSide {
    position: relative;
    flex: 30%;
    background: #ffffff;
    border-right: 1px solid #39add4;
    border-radius: 10px 0 0;
}

.container .rightSide {
    position: relative;
    flex: 70%;
    background: #39add43a;
    border-radius: 10px 0;
}

.container .rightSide::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url(../assets/msg-img/wallpaper\ 1.png);
    opacity: 0.11;

}

.header {
    position: relative;
    width: 100%;
    height: 60px;
    background: #ededed;
    border-radius: 10px 10px 0 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 15px;
}

.userImg {
    position: relative;
    width: 40px;
    Height: 40px;
    overflow: hidden;
    border-radius: 50%;
    cursor: pointer;
}

.cover {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.nav-icons {
    display: flex;
}

.nav-icons li {
    display: flex;
    list-style: none;
    cursor: pointer;
    color: #39add4;
    font-size: 1.5em;
    margin-left: 22px;
}

.Search_chat {
    position: relative;
    width: 100%;
    height: 50px;
    background: #f6f6f6;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 15px;
}

.Search_chat div {
    width: 100%;
}

.Search_chat div input {
    width: 100%;
    outline: none;
    border: none;
    background: #fff;
    padding: 6px;
    height: 38px;
    border-radius: 30px;
    font-size: 14px;
    padding-left: 40px;

}

.Search_chat div ion-icon {
    position: absolute;
    left: 30px;
    top: 14px;
    font-size: 1.2em;
}

.Search_chat div input::placeholder/ {
    color: #39add4;
}

.chatlist {
    position: relative;
    width: 100%;
    height: calc(100% - 110px);
    /* 50px for search and 60px for header */
    overflow-y: auto;
    padding: 10px 0;
    background: #ffffff;
}

.chatlist .block {
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    padding: 15px;
    border-bottom: 1px solid rgb(0, 0, 0, 0.06);
    cursor: pointer;
}

.chatlist .block.Active {
    background: #39add450;
}

.chatlist .block:hover {
    background: #39add450;
}

.chatlist .block .imgbx {
    position: relative;
    min-width: 45px;
    height: 45px;
    overflow: hidden;
    border-radius: 50%;
    margin-right: 10px;

}

.chatlist .block .details {
    position: relative;
    width: 100%;
}

.chatlist .block .details .listHead {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
}

.chatlist .block .details .listHead h4 {
    font-size: 1.1em;
    font-weight: 600;
    color: #111;
}

.chatlist .block .details .listHead .time {
    font-size: 0.75em;
    color: #aaa;
}

.chatlist .block .details .listHead .time {
    color: #111;
}

.chatlist .block.unread .details .listHead .time {
    color: #39add4;
}

.message_p {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.message_p p {
    color: #aaa;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    font-size: 0.9em;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.message_p b {
    background: #39add4;
    color: #fff;
    min-width: 20px;
    height: 20px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.75em;
}

.imgText {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.imgText h4 {
    font-size: 500;
    line-height: 1.2em;
    margin-left: 15px;
}

.imgText h4 span {
    font-size: 0.8em;
    color: #aaa;
}

/* chat box inside */
.chatBox {
    position: relative;
    width: 100%;
    height: calc(100% - 120px);
    padding: 50px;
    overflow-y: auto;
}

.message {
    position: relative;
    display: flex;
    width: 100%;
    margin: 5px 0;
}

.message p {
    position: relative;
    right: 0;
    text-align: right;
    max-width: 65%;
    padding: 12px;
    background: #39add4;
    border-radius: 10px;
    font-size: 0.9em;
}

.message p::before {
    content: '';
    position: absolute;
    top: 0;
    right: -12px;
    width: 20px;
    height: 20px;
    background: linear-gradient(135deg, #39add4 0%, #39add4 50%, transparent 50%, transparent);
}

.message p span {
    display: block;
    margin-top: 5px;
    font-size: 0.85em;
    opacity: 0.5;
}

.my_message {
    justify-content: flex-end;
}

.friend_message {
    justify-content: flex-start;
}

.friend_message p {
    background: #ffffff;
}

.message.friend_message p::before {
    content: '';
    position: absolute;
    top: 0;
    left: -12px;
    width: 20px;
    height: 20px;
    background: linear-gradient(225deg, #ffffff 0%, #ffffff 50%, transparent 50%, transparent);
}

.footer_chatbox {
    position: relative;
    width: 100%;
    height: 60px;
    background: #f6f6f6;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.footer_chatbox ion-icon {
    font-size: 1.8em;
    color: #39add4;
    cursor: pointer;
}

.footer_chatbox ion-icon:nth-child(1) {
    margin-right: 15px;
}

.footer_chatbox input {
    position: relative;
    width: 90%;
    margin: 0 20px;
    padding: 10px 20px;
    border: none;
    outline: none;
    border-radius: 30px;
    font-size: 1em;
}