@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

:root {
    --border-radius: 2rem;
    --card-border-radius: 1rem;
    --btn-padding: 0.6rem 1rem;
    --card-padding: 1rem;
    --search-padding: 0.6rem 1rem;
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    border: none;
}

body {
    font-family: 'Poppins', sans-serif;
    color: black;
    background: rgba(244, 239, 239, 0.912);
    overflow-x: hidden;
}

/* GENERAL STYLE*/
.container {
    width: 80%;
    margin: 0 auto;

}

.c-pointer {
    cursor: pointer;
}

.profile-photo {
    width: 2.7rem;
    aspect-ratio: 1/1;
    border-radius: 50%;
    overflow: hidden;
    cursor: pointer;
}

.logo {
    cursor: pointer;
}

img {
    display: block;
    width: 100%;
}

.btn {
    display: inline-block;
    padding: 0.6rem 1rem;
    font-weight: 500;
    border-radius: 2rem;
    cursor: pointer;
    transition: all 300ms ease;
    font-size: 0.9rem;
}

.btn:hover {
    opacity: 0.8;
}

.btn-primary {
    background: #39add4;
    color: white;
    border: 2px solid white;
}

.btn-danger {
    background: #e74c3c;
    color: white;
    border: 2px solid white;
}

.text-bold {
    font-weight: 500;
}

.text-muted {
    color: gray;
}

/*----------Navbar-----------------*/
nav {
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 10;
    background: #39add4;
    height: 80px;
    display: flex;
    align-items: center;
}

nav .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.search-bar {
    background: rgb(255 255 255);
    border-radius: 2rem;
    padding: 0.6rem 1rem;
    margin-bottom: 1rem;
    width: 100%;
}

.search-bar-inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.search-bar input {
    border: none;
    outline: none;
    width: 90%;
    padding-left: 8px;
}

nav .create {
    display: flex;
    align-items: center;
    gap: 2rem;
}

/*-----------------------Main---------------------------*/
main {
    position: relative;
    top: 5.4rem;
}

main .container {
    display: grid;
    grid-template-columns: 18vw auto 20vw;
    column-gap: 2rem;
    position: relative;
}

/*-----------------------Left sidebar---------------------------*/
main .container .left {
    height: max-content;
    position: sticky;
    top: 5.4rem;
}

main .container .left .profile {
    padding: 1rem;
    background: white;
    border-radius: 1rem;
    box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    column-gap: 1rem;
    width: 100%;
}

.left .sidebar {
    margin-top: 1rem;
    background: white;
    border-radius: 1rem;
}

.left .sidebar .menu-item {
    display: flex;
    align-items: center;
    height: 4rem;
    position: relative;
    cursor: pointer;
}

.left .sidebar .menu-item:hover {
    background: rgba(0, 0, 0, 0.1);
}

.left .sidebar i {
    font-size: 1.4rem;
    color: gray;
    margin-left: 2rem;
    position: relative;
}

.left .sidebar i .notification-count {
    background: red;
    color: white;
    font-size: 0.7rem;
    padding: 0.1rem 0.4rem;
    border-radius: 0.8rem;
    position: absolute;
    top: -0.2rem;
    right: -0.3rem;
    width: fit-content;
}

.left .sidebar h3 {
    margin-left: 1.5rem;
    font-size: 1rem;
    color: black
}

.left .sidebar .active {
    background: rgba(0, 0, 0, 0.1);
}

.left .sidebar .active i,
.left .sidebar .active h3 {
    color: black;
}

.left .sidebar .active::before {
    content: "";
    position: absolute;
    width: 0.5rem;
    height: 100%;
    background: #39add4;
    display: block;
}

.left .sidebar .menu-item:first-child.active {
    border-top-left-radius: 1rem;
    overflow: hidden;
}

.left .sidebar .menu-item:last-child.active {
    border-bottom-left-radius: 1rem;
    overflow: hidden;
}

.left .btn {
    margin-top: 1rem;
    width: 100%;
    text-align: center;
    padding: 1rem 0;
}

/**********************notification popup***********/
.left .notifications-popup {
    position: absolute;
    top: 0;
    left: 110%;
    width: 30rem;
    background: white;
    border-radius: 1rem;
    box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.1);
    padding: 1rem;
    z-index: 8;
    display: none;
}

.left .notifications-popup::before {
    content: "";
    position: absolute;
    width: 1.2rem;
    height: 1.2rem;
    background: white;
    display: block;
    left: -0.6rem;
    transform: rotate(45deg);
}

.left .notifications-popup>div {
    display: flex;
    align-items: start;
    gap: 1rem;
    margin-bottom: 1rem;
}

.left .notifications-popup small {
    display: block;
}

/*------------------Middle section------------------------*/
.middle .stories {
    display: flex;
    justify-content: center;
    height: 12rem;
    gap: 0.5rem;
}

.middle .stories .story {
    padding: 1rem;
    border-radius: 2rem;
    box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    color: white;
    font-size: 0.8rem;
    cursor: pointer;
    transition: all 300ms ease;
    position: relative;
    overflow: hidden;
    width: 100%;
}

.middle .stories .story::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 5rem;
    background: linear-gradient(transparent, rgba(0, 0, 0, 0.75));
    display: block;
    bottom: 0;
}

.middle .stories .story .name {
    z-index: 2;
}

.middle .stories .story:nth-child(1) {
    background: url("../img/story-1.jpg") no-repeat center center/cover;
}

.middle .stories .story:nth-child(2) {
    background: url("../img/story-2.jpg") no-repeat center center/cover;
}

.middle .stories .story:nth-child(3) {
    background: url("../img/story-3.jpg") no-repeat center center/cover;
}

.middle .stories .story:nth-child(4) {
    background: url("../img/story-4.jpg") no-repeat center center/cover;
}

.middle .stories .story:nth-child(5) {
    background: url("../img/story-5.jpg") no-repeat center center/cover;
}

.middle .stories .profile-photo {
    width: 2rem;
    height: 2rem;
    align-self: start;
    border: 3px solid #39add4;
}

/*------------------------POST---------------*/
.middle .create-post {
    border-radius: 2rem;
    background: white;
}

.middle .create-post .image-preview {
    padding: 5px;
    position: relative;
}

.middle .create-post-inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 1rem;
    padding: 0.4rem 1rem;
    width: 100%;
    position: relative;
}

.middle .create-post input[type="text"] {
    border: none;
    outline: none;
    font-size: 1rem;
    width: 100%;
    padding: 0.5rem 0;
}

.image-upload {
    position: relative;
}

#upload-btn {
    display: none;
}

.image-upload label {
    cursor: pointer;
}

.image-upload img {
    width: 24px;
    height: 24px;
    margin-right: 8px;
}

.image-preview {
    display: none;
    /* position: absolute; */
    top: 100%;
    left: 0;
    width: 100%;
    background-color: #fff;
    border: 1px solid #ddd;
    border-top: none;
    border-radius: 0 0 8px 8px;
    overflow: hidden;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.image-preview img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.delete-btn,
.delete-btn-temp {
    position: absolute;
    top: 12px;
    right: 12px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.6);
    color: #fff;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    cursor: pointer;
    z-index: 1;
}

/* Loader */
.loader {
    background: #fff5f5d1;
    overflow: overlay;
    position: fixed;
    z-index: 999;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loader img {
    width: 88px;
}

/*-------------------------------------------*/
.row {
    margin-bottom: 0.5rem;
    background: rgba(244, 239, 239, 0.986);
    padding: 1rem;
    border-radius: 2rem;
}

span.uil-message {
    float: right;
    font: icon;
    cursor: pointer;
}

input.comment-box {
    background: transparent;
}

/*------------------------FEEDBACK---------------*/
.middle .feeds .feed {
    margin: 1rem 0;
    background: white;
    border-radius: 1rem;
    padding: 1rem;
    line-height: 1.5;
    font-size: 0.85rem;
}

.middle .feed .head {
    display: flex;
    justify-content: space-between;
}

.middle .feed .user {
    display: flex;
    gap: 1rem;
}

.middle .feed .photo {
    /* margin: 0.7rem 0; */
    overflow: hidden;
}

.middle .feed .action-buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0.6rem;
    font-size: 1rem;
    margin-top: 10px;
}

.friend-requests .action {
    display: flex;
    height: fit-content;
    gap: 5px;
    flex-wrap: wrap;
}

.middle .liked-by {
    display: flex;
}

.middle .liked-by span {
    width: 1.4rem;
    height: 1.4rem;
    border-radius: 50%;
    border: 2px solid white;
    display: block;
    margin-left: -0.6rem;
    overflow: hidden;
}

.middle .liked-by span:first-child {
    margin: 0;
}

.middle .liked-by p {
    margin-left: 0.5rem;
    font-size: 0.8rem;
}

/*----------------------------------RIGHT BAR---------------------------------*/
main .container .right {
    height: max-content;
    position: sticky;
    top: -18rem;
    bottom: 0;
}

.right .messages {
    background: white;
    border-radius: 1rem;
    padding: 1rem;

}

.right .messages .heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
}

.right .messages i {
    font-size: 1.4rem;
}

.right .messages .search-bar {
    display: flex;
    margin-bottom: 1rem;
}

.right .messages .category {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
}

.right .messages .category h6 {
    width: 100%;
    align-items: center;
    border-bottom: 4px solid rgb(236, 220, 220);
    padding-bottom: 0.5rem;
    font-size: 0.85rem;
}

.right .messages .category .active {
    border-bottom: 4px solid #39add4;
}

.right .message .message-request {
    color: antiquewhite;
}

.right .messages .message {
    display: flex;
    gap: 14px;
    margin-bottom: 1rem;
    justify-content: space-between;
}

.right .messages .message .info {
    display: flex;
    gap: 14px;
}

.right .message .profile-photo {
    position: relative;
    overflow: visible;
}

.right .messages .message:last-child {
    margin: 0;
}

.right .messages .message p {
    font-size: 0.8rem;
}

.right .messages .message .profile-photo .active {
    width: 0.8rem;
    height: 0.8rem;
    border-radius: 50%;
    background: green;
    border: 3px solid white;
}

/*---------------------------Friend Request-------------------*/
.right .friend-requests {
    margin-top: 1rem;
}

.right .friend-requests h4 {
    color: gray;
    margin-top: -7px;
}

.right .friend-sugessions h4 {
    color: gray;
    margin-top: -7px;
}

.right .friend-sugessions .btn {
    margin-top: -7px;
    padding: 8px 16px;
}

.right .friend-sugessions .btn i {
    font-size: 1.2rem;
}

.right .friend-requests .btn {
    margin: 0;
    padding: 8px 16px;
}

.right .friend-requests .btn i {
    font-size: 1.2rem;
}

.right .friend-requests .message-body {
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-bottom: 10px;
}

.right .request {
    padding: 1rem;
    background: white;
    border-radius: 1rem;
    margin-bottom: 0.7rem;
}

.right .request .info {
    display: flex;
    gap: 1rem;
    margin-bottom: 1rem;
}

.right .request .action {
    display: flex;
    gap: 1rem;
}

/*-----------------------------Theme customization---------------------------*/
.customize-theme {
    background: rgba(246, 206, 206, 0.951);
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    display: grid;
    text-align: center;
    place-items: center;
    font-size: 0.9rem;
    display: none;

}

.customize-theme .card {
    background: white;
    padding: 3rem;
    border-radius: 1rem;
    width: 50%
}

/*-------------------------------font size---------------------*/
.customize-theme .font-size {
    margin-top: 5rem;
}

.customize-theme .font-size>div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgba(223, 215, 215, 0.947);
    padding: 0.5rem;
    border-radius: 1rem;
}

.customize-theme .choose-size {
    background: rgb(183, 179, 222);
    height: 0.3rem;
    width: 100%;
    margin: 0 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.customize-theme .choose-size span {
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    background: rgb(166, 162, 203);
    cursor: pointer;
}

.customize-theme .choose-size span.active {
    background: rgb(108, 93, 240);
}

/*-------------font color----------------------------*/
.customize-theme .color {
    margin-top: 2rem;
}

.customize-theme .choose-color {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgba(223, 215, 215, 0.947);
    padding: 0.5rem;
    border-radius: 1rem;
}

.customize-theme .choose-color span {
    width: 2.2rem;
    height: 2.2rem;
    border-radius: 50%;
}

.customize-theme .choose-color span:nth-child(1) {
    background: hsl(252, 75%, 60%);
}

.customize-theme .choose-color span:nth-child(2) {
    background: hsl(52, 75%, 60%);
}

.customize-theme .choose-color span:nth-child(3) {
    background: hsl(352, 75%, 60%);
}

.customize-theme .choose-color span:nth-child(4) {
    background: hsl(152, 75%, 60%);
}

.customize-theme .choose-color span:nth-child(5) {
    background: hsl(201, 75%, 60%);
}

.customize-theme .choose-color span.active {
    border: 5px solid white;
}

/*-----------------------background------------*/
.customize-theme .background {
    margin-top: 2rem;
}

.customize-theme .choose-bg {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1.5rem;
}

.customize-theme .choose-bg>div {
    padding: 1rem;
    width: 100%;
    display: flex;
    align-items: center;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
    border-radius: 0.4rem;
}

.customize-theme .choose-bg>div.active {
    border: 2px solid rgb(108, 93, 240);
    ;
}

.customize-theme .choose-bg .bg-1 {
    background: white;
    color: black;
}

.customize-theme .choose-bg .bg-2 {
    background: hsl(252, 30%, 17%);
    color: white;
}

.customize-theme .choose-bg .bg-3 {
    background: hsl(252, 30%, 10%);
    color: white;
}

.customize-theme .choose-bg>div span {
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    border: 2px solid gray;
    margin-right: 1rem;
}

/*************************/
/*-----------------------Media Query-----------------------*/
@media screen and (max-width: 1200px) {
    .container {
        width: 90%;
    }

    main-container {
        grid-template-columns: 5rem auto 30vw;
        gap: 1rem;
    }

    .left {
        width: 5rem;
        z-index: 5;
    }

    main .container .left .profile {
        display: none;
    }

    .sidebar h3 {
        display: none;
    }

    .left .btn {
        display: none;
    }
}

/***********************Media quries for tablet and mobile mode**************/
@media screen and (max-width: 992) {
    nav .search-bar {
        display: none;
    }

    main .container {
        grid-template-columns: 0 auto 5rem;
        gap: 0;
    }

    main .container .left {
        grid-column: 3/4;
        position: fixed;
        bottom: 0;
        right: 0;
    }

    /**************notification popup**************/
    .left .notifications-popup {
        position: absolute;
        left: -20rem;
        width: 20rem;
    }

    .left .notifications-popup::before {
        display: absolute;
        top: 1.3rem;
        left: calc(20rem -0.6rem);
        display: block;
    }

    main .container .middle {
        grid-column: 1/3;
    }

    main .container .right {
        display: none;
    }
}



/*---------profile-page--------*/


.profile-container {
    padding: 50px 15%;
    color: #626262;
    margin-top: 60px;
}

.profile-container .create-post .image-preview {
    padding: 5px;
    position: relative;
}

.profile-container .create-post-inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 1rem;
    padding: 0.4rem 1rem;
    width: 100%;
    position: relative;
}

.profile-container .create-post input[type="text"] {
    border: none;
    outline: none;
    font-size: 1rem;
    width: 100%;
    padding: 0.5rem 0;
}

.cover-pic {
    width: 100%;
    height: 450px;
    border-radius: 10px;
    margin-bottom: 10px;
}

.profile-details {
    background: #fff;
    padding: 20px;
    border-radius: 4px;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.pd-row {
    display: flex;
    align-items: flex-start;

}

.no-post-found {
    text-align: center;
    font-size: 1.2rem;
    font-weight: 600;
    color: #626262;
    margin: 50px 20px;

}

.profile-pic {
    width: 100px;
    margin-right: 20px;
    border-radius: 50px;
    padding: 2px;
    background: #fff;
}

.pd-row div h3 {
    font-size: 25px;
    font-weight: 600;
}

.pd-row div p {
    font-size: 13px;

}

.pd-row div img {
    width: 25px;
    float: left;
    border-radius: 50%;
    margin-top: 12px;
    margin-left: 10px;
}

.pd-right button {
    background: #e4e6eb;
    border: 0;
    outline: 0;
    padding: 6px 10px;
    display: inline-flex;
    align-items: center;
    color: #151313;
    border-radius: 3px;
    margin-left: 10px;
    cursor: pointer;
}

.pd-right button:first-child:hover {
    background-color: #1523de;
    color: #fff;
}

.pd-right button:hover {
    background-color: rgb(33, 9, 242);
    color: white;

}

.pd-right button a {
    display: inline-flex;
    align-items: center;
    background: #e4e6eb;
    padding: 6px 15px;
    border-radius: 4px;
    margin-right: 10px;
}

.pd-right a:hover {
    background-color: #0a1acf;
    color: white;

}

.pd-right button img {
    height: 20px;
    margin-right: 10px;

}

.pd-right button:first-child {
    background: #e4e6eb;
    color: #000;
}

.pd-right {
    text-align: right;
    display: flex;
}

.pd-right a {
    background: #e4e6eb;
    border-radius: 3px;
    padding: 12px;
    display: inline-flex;
    margin-top: 30px;
}

.pd-right a img {
    width: 25px;
}

.profile-info {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin-top: 20px;
}

.info-col {
    flex-basis: 40%;
}

.post-col {
    margin-left: 20px;
    background: white;
    width: 60%;
}

.profile-intro {
    background: white;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 4px;
}

.post-content {
    padding: 20px 10px;
}

.profile-intro h3 {
    font-weight: 600;
}

.intro-text {
    text-align: center;
    margin: 10px 0;
    font-size: 15px;
}

.profile-intro hr {
    border: 0;
    height: 1px;
    background: #ccc;
    margin: 24px 0;
}

.post-col hr {
    border: 0;
    height: 1px;
    background: #ccc;
    margin: 24px 0;
    margin-bottom: 0;
}

.profile-intro ul li {
    list-style: none;
    font-size: 15px;
    margin: 15px 0;
    display: flex;
    align-items: center;
}

.profile-intro ul li img {
    width: 26px;
    margin-right: 10px;
}

.title-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.title-box a {
    text-decoration: none;
    color: #1876f2;
    font-size: 14px;
}

.photo-box {
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-gap: 10px;
    margin-top: 15px;
}

.photo-box div img {
    width: 100%;
    cursor: pointer;
}

.profile-intro p {
    font-size: 14px;
}

.friends-box {
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-gap: 10px;
    margin-top: 15px;
}

.friends-box div img {
    width: 70%;
    cursor: pointer;
    padding-bottom: 20px;
}

.friends-box div {
    position: relative;
}

.friends-box p {
    position: relative;
    bottom: 0;
    left: 0;

}

.Write-post-container {
    width: 100%;
    background: #ffffff;
    border-radius: 6px;
    padding: 20px;
    padding-bottom: 0;
    color: #626262;

}

.user-profile {
    display: flex;
    align-items: center;
}

.user-profile img {
    width: 45px;
    border-radius: 50%;
    margin-right: 10px;
}

.user-profile p {
    margin-bottom: -5px;
    font-weight: 500;
    color: #626262;
}

.user-profile small {
    font-size: 12px;
}

.Post-input-container {
    padding-left: 55px;
    padding-top: 20px;

}

.Post-input-container textarea {
    width: 100%;
    border: 0;
    outline: 0;
    border-bottom: 1px solid#ccc;
    background: transparent;
    resize: none;
}

.add-post-links {
    display: flex;
    margin-top: 10px;

}

.add-post-links:hover {
    background-color: whitesmoke;
    color: transparent;
}

.add-post-links a {
    text-decoration: none;
    display: flex;
    align-items: center;
    color: #626262;
    margin-right: 30px;
    font-size: 13px;
    padding-left: 150px;

}

.add-post-links a img {
    width: 40px;
    margin-right: 10px;
}

.post-container {
    width: 100%;
    background: #fff;
    border-radius: 6px;
    padding: 20px;
    color: #626262;
}

.user-profile span {
    font-size: 13px;
    color: #9a9a9a;
}

.post-text {
    color: #000;
    margin: 15px 0;
    font-size: 15px;

}

.post-text span {
    color: #626262;
    font-weight: 500;
}

.post-text a {
    color: #1876f2;
    text-decoration: none;
}

.post-img {
    width: 100%;
    border-radius: 4px;
    margin-bottom: 5px;
}

.post-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.activity-icons div img {
    width: 18px;
    margin-right: 10px;

}

.activity-icons div {
    display: inline-flex;
    align-items: center;
    margin-right: 30px;
}

.post-profile-icon {
    display: flex;
    align-items: center;
}

.post-profile-icon img {
    width: 20px;
    border-radius: 50%;
    margin-right: 5px;
}

.load-more-btn {
    display: block;
    margin: auto;
    cursor: pointer;
    padding: 5px 10px;
    border: 1px solid #9a9a9a;
    color: #626262;
    background: transparent;
    border-radius: 4px;
}

.footer {
    text-align: center;
    color: #9a9a9a;
    padding: 10px;
    font-size: 30px;
}

.upload-label {
    display: flex !important;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    cursor: pointer;
    background: #e0d4d4a3;
    margin-top: 0 !important;
}

.profile-image-area,
.cover-image-area {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.hide {
    display: none !important;
}

/* dropdown */
.dropdown {
    position: relative;
    display: inline-block;
    height: fit-content;
}

.dropdown-toggle {
    cursor: pointer;
}

.dropdown-menu {
    position: absolute;
    top: 100%;
    right: 0;
    display: none;
    background-color: #fff;
    min-width: 100px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-menu a {
    display: block;
    color: #333;
    padding: 12px 16px;
    text-decoration: none;
}

.dropdown-menu a:hover {
    background-color: #f5f5f5;
}

.show {
    display: block;
}

/* post design - profile page */
.post-col .feeds .feed {
    margin: 1rem 0;
    background: white;
    border-radius: 1rem;
    padding: 1rem;
    line-height: 1.5;
    font-size: 0.85rem;
}

.post-col .feed .head {
    display: flex;
    justify-content: space-between;
}

.post-col .feed .user {
    display: flex;
    gap: 1rem;
}

.post-col .feed .photo {
    /* margin: 0.7rem 0; */
    overflow: hidden;
}

.post-col .feed .action-buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0.6rem;
    font-size: 1rem;
    margin-top: 10px;
}

/* Comment */
.comment-body input {
    width: 100%;
}

.interation-button span {
    cursor: pointer;
}

.comment {
    margin: 20px 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: all 0.3s ease-in-out;
}

.comment .dropdown {
    opacity: 0;
    transition: all 0.3s ease-in-out;
}

.comment:hover .dropdown {
    opacity: 1;
    transition: all 0.3s ease-in-out;
}

.comment-body {
    display: flex;
    gap: 10px;
}

.comment-body img {
    border-radius: 20px;
    width: 40px;
    height: fit-content;
}

.comment-content {
    width: 100%;
}

.comment-body .info {
    display: flex;
    align-items: center;
    gap: 10px;
}

.comment-body .info h3 {
    font-size: 18px;
}

.comment-body .info small {
    font-size: 12px;
}

.comment-text-area {
    display: flex;
    gap: 10px;
    width: 100%;
    align-items: center;
}

i.c-pointer.comment-reaction-btn.uil.uil-thumbs-up {
    font-size: 20px;
}

.color-theme {
    color: #39add4;
}